<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

      <ul class="nav navbar-nav">
        <li class="text-center"><a href="#">About</a></li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <h1 class="navbar-text">It's a Thing</h1>
        <li><a href="#">Admin</a></li>
      </ul>
    
  </div>
</nav>